/*  your css code here. If applicable */
.main-container {
	background-color: whitesmoke;
	align-self: center;
	width: fit-content;
	padding: 30px;
	border-shadow: 0px 0px 10px black;
	margin: auto;
}

.main-container h1, p {
	text-align: center;
}

button {
	margin-left: 85px;
	padding: 8px;
	border-radius: 8px;
	background-color: orangered;
	color: white;
	border: none;
}
